## Making the EBcache
+ should work similar to EBscore with these differences:
    * no tumor bam is needed

In [2]:
# get the code
import sys
import os
sys.path.append('../code')

# set the paths
home = '/Users/martinscience'
#  home = '/Users/mahtin'


somvar_path = os.path.join(home, "Dropbox/Icke/Work/somVar")
testdata = os.path.join(somvar_path, "testdata")
ebdata = os.path.join(somvar_path, "tooldata/EBdata")
pon_path = os.path.join(testdata, "PON")

static = os.path.join(home, "Dropbox/Icke/Work/static")

## make EBcache matrix
+ to be used by bam2matrix in cache-mode

from ebcache import PON2matrix

EBconfig = {
    "temp_dir": os.path.join(ebdata, "temp"),
    "pon_path": pon_path,
    "bed_file": os.path.join(static, "bed_files/SureSelect/hg38/SS_HAEv7_hg38_Padded.bed"),
    "mawk_path": "../shell",
    "genome_split": f"{static}/genome/gatk/hg38/split",
    "MAPQ": 20,
    "Q": 25,
    "fit_pen": 0.5,
    "use_cache": True
}
pon_list = "PON_chr19.txt"
chrom = "chr19"

PON2matrix(pon_list, chrom, EBconfig)

In [3]:
chr19_df = pd.read_csv(os.path.join(pon_path, "matrix/chr19.pon.gz"), compression="gzip", sep="\t")
chr19_df

,Chr,Start,Ref,A,G,C,T,I,D,Depth
0,chr19,66218,C,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
1,chr19,66219,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|3|0|0|0-0|0|0|0|0
2,chr19,66220,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
3,chr19,66221,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
4,chr19,66222,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
...,...,...,...,...,...,...,...,...,...,...
5090844,chr19,58571443,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-66|94|111|105|25
5090845,chr19,58571444,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-65|96|108|102|23
5090846,chr19,58571445,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-61|98|110|103|25
5090847,chr19,58571446,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-58|95|110|101|25
5090848,chr19,58571447,T,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|3|0-58|95|108|97|16

### matrix to AB
+ look at the first 500k lines of AB-converted pon and try to see what comes most and what could be cached for faster computation
### caching the caching
+ trying to find common cachable AB parameters

In [ ]:
from ebcache import PONmatrix2AB_multi

lines = 100000

# use this but going through all letters and 
PONEB_config = {
    "fit_pen": 0.5,
    "threads": 8,
    "chunk_size": 1000
}

%time df = PONmatrix2AB_multi(chr19_df[:lines], config=PONEB_config)
# df.to_csv(os.path.join(pon_path, "ABcache/chr19.AB.gz"), sep="\t", compression="gzip", index=False)
df

### flatten the df by the letters

In [8]:
# merge AB with matrix
merge = chr19_df[:lines].merge(df, left_index=True, right_index=True)

dfs = []
for letter in "AGCTID":
    print(letter)
    letter_df = merge.loc[:, [f"{letter}_x", "Depth", f"{letter}_y"]].rename({f"{letter}_x":"tumor", f"{letter}_y":"AB"}, axis=1)
    dfs.append(letter_df)
merge2 = pd.concat(dfs)
merge2

A
G
C
T
I
D

,tumor,Depth,AB
0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0,0.1|1.0-0.1|1.0
1,0|0|0|0|0-0|0|0|0|0,0|3|0|0|0-0|0|0|0|0,0.1|1.0-0.1|1.0
2,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0,0.1|1.0-0.1|1.0
3,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0,0.1|1.0-0.1|1.0
4,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0,0.1|1.0-0.1|1.0
...,...,...,...
9995,0|0|0|0|0-0|0|0|0|0,184|232|232|264|171-33|21|28|26|12,0.1|11.29028-0.1|3.80175
9996,0|0|0|0|0-0|0|0|0|0,187|241|234|269|174-34|21|27|26|12,0.1|11.40959-0.1|3.79879
9997,0|0|0|0|0-0|0|0|0|0,190|246|234|278|178-34|24|30|27|12,0.1|11.35051-0.1|3.88834
9998,0|0|0|0|0-0|0|0|0|0,193|244|238|281|179-32|22|29|27|11,0.1|11.45249-0.1|3.78771
9999,0|0|0|0|0-0|0|0|0|0,189|244|241|284|176-33|23|29|28|12,0.1|11.15011-0.1|3.86449

## split left and right

In [9]:
ldfs = []
for l in [0,1]:
    ldf = pd.DataFrame()
    for col in ['tumor', 'Depth', 'AB']:
        ldf[col] = merge2[col].str.split("-").str[0]
    ldfs.append(ldf)
merge3 = pd.concat(ldfs)
merge3

          tumor                Depth            AB
0     0|0|0|0|0            0|5|0|0|0       0.1|1.0
1     0|0|0|0|0            0|3|0|0|0       0.1|1.0
2     0|0|0|0|0            0|5|0|0|0       0.1|1.0
3     0|0|0|0|0            0|5|0|0|0       0.1|1.0
4     0|0|0|0|0            0|5|0|0|0       0.1|1.0
...         ...                  ...           ...
9995  0|0|0|0|0  184|232|232|264|171  0.1|11.29028
9996  0|0|0|0|0  187|241|234|269|174  0.1|11.40959
9997  0|0|0|0|0  190|246|234|278|178  0.1|11.35051
9998  0|0|0|0|0  193|244|238|281|179  0.1|11.45249
9999  0|0|0|0|0  189|244|241|284|176  0.1|11.15011

[120000 rows x 3 columns]

### sort the splits by Depth

In [10]:
def order(row):
    dl = [int(d) for d in row['Depth'].split("|")]
    row['Depth'] = "|".join([str(d) for d in sorted(dl)])
    row['tumor'] = "|".join([str(row['tumor'].split("|")[i]) for i in np.argsort(dl)])
    return row

merge4 = merge3.apply(order, axis=1).sort_values(['AB', 'Depth', 'tumor']).groupby(['Depth', 'tumor']).agg(['first', 'last', "count"])

### make stats

In [13]:
merge5 = merge4['AB'].reset_index().sort_values(['count'], ascending=False)
merge5['freq'] = merge5['count'] / (lines * 12)
merge5['sumfreq'] = merge5['freq'].cumsum()
merge5

,Depth,tumor,first,last,count,freq,sumfreq
0,0|0|0|0|0,0|0|0|0|0,0.1|1.0,0.1|1.0,4776,0.039800,0.039800
1,0|0|0|0|1,0|0|0|0|0,0.1|1.0,0.1|1.0,1872,0.015600,0.055400
2,0|0|0|0|2,0|0|0|0|0,0.1|1.0,0.1|1.0,1498,0.012483,0.067883
8,0|0|0|1|2,0|0|0|0|0,0.1|1.0,0.1|1.0,636,0.005300,0.073183
7,0|0|0|1|1,0|0|0|0|0,0.1|1.0,0.1|1.0,600,0.005000,0.078183
...,...,...,...,...,...,...,...
1299,127|163|191|206|326,0|0|1|0|0,0.1|6.06221,0.1|6.06221,2,0.000017,0.999933
1301,127|170|227|233|240,1|1|0|0|0,0.24151|46.28039,0.24151|46.28039,2,0.000017,0.999950
5149,24|31|37|38|38,0|0|1|0|0,0.1|2.70301,0.1|2.70301,2,0.000017,0.999967
7384,47|96|103|117|121,1|0|0|0|0,0.1|3.35032,0.1|3.35032,2,0.000017,0.999983
1686,134|197|198|204|241,1|1|0|1|0,1.00129|235.31699,1.00129|235.31699,2,0.000017,1.000000

In [ ]:
merge5.to_csv(os.path.join(pon_path, "chr19.cache.cache.gz"), sep="\t", index=False, compression="gzip")
# merge7 = pd.read_csv(os.path.join(pon_path, "chr7.cache.cache.gz"), sep="\t", compression="gzip")