## Making the EBcache
+ should work similar to EBscore with these differences:
    * no tumor bam is needed

In [1]:
# get the code
import sys
import os
sys.path.append('../code')

# set the paths
home = '/Users/martinscience'
#  home = '/Users/mahtin'


somvar_path = os.path.join(home, "Dropbox/Icke/Work/somVar")
testdata = os.path.join(somvar_path, "testdata")
ebdata = os.path.join(somvar_path, "tooldata/EBdata")
pon_path = os.path.join(testdata, "PON")

static = os.path.join(home, "Dropbox/Icke/Work/static")

## make EBcache matrix
+ to be used by bam2matrix in cache-mode

from ebcache import PON2matrix

EBconfig = {
    "temp_dir": os.path.join(ebdata, "temp"),
    "pon_path": pon_path,
    "zero_path": os.path.join(pon_path, "zero"),
    "bed_file": os.path.join(static, "bed_files/SureSelect/hg38/SS_HAEv7_hg38_Padded.bed"),
    "mawk_path": "../shell",
    "genome_split": f"{static}/genome/gatk/hg38/split",
    "MAPQ": 20,
    "Q": 25,
    "fit_pen": 0.5,
    "use_cache": True
}
pon_list = "PON_chr19.txt"
chrom = "chr19"

PON2matrix(pon_list, chrom, EBconfig)

In [2]:
chr19_df = pd.read_csv(os.path.join(pon_path, "matrix/chr19.pon.gz"), compression="gzip", sep="\t")
chr19_df

,Chr,Start,Ref,A,G,C,T,I,D,Depth
0,chr19,66218,C,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
1,chr19,66219,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|3|0|0|0-0|0|0|0|0
2,chr19,66220,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
3,chr19,66221,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
4,chr19,66222,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|5|0|0|0-0|0|0|0|0
...,...,...,...,...,...,...,...,...,...,...
5090844,chr19,58571443,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-66|94|111|105|25
5090845,chr19,58571444,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-65|96|108|102|23
5090846,chr19,58571445,G,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-61|98|110|103|25
5090847,chr19,58571446,A,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|4|0-58|95|110|101|25
5090848,chr19,58571447,T,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,0|0|0|0|0-0|0|0|0|0,1|0|1|3|0-58|95|108|97|16

## computation has  to be done per PON string
+ allows use of same function for both PONcache and matrix2AB
+ allows optimal caching of the results

In [ ]:
from ebcache import PONmatrix2AB_multi
from zerocache import collapse_zeros

collapse_zeros(os.path.join(pon_path, "zero"))

PONAB_config = {
    "fit_pen": 0.5,
    "threads": 8,
    "chunk_size":2000,
    "zero_path": os.path.join(pon_path, "zero")
}
test_df =  chr19_df[:50000].copy()

chr19_AB_df = PONmatrix2AB_multi(test_df, config=PONAB_config)
chr19_AB_df

/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.0.csv
15:33:20 : Starting AB conversion of PON matrix using 8 cores
15:33:24 : PON matrix is stacked

In [ ]:
chr19_AB_df

In [5]:
from zerocache import collapse_zeros
collapse_zeros(os.path.join(pon_path, "zero"))

/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.98.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.99.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.89.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.88.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.9.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.92.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.86.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.87.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.93.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.85.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.91.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.90.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.84.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.80.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.94.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.95.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.81.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.97.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.83.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.82.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.96.csv
/Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/zero/zero.0.csv

                  D           AB
0         0|0|0|0|0      0.1|1.0
1         0|0|0|0|1      0.1|1.0
2        0|0|0|0|10      0.1|1.0
3        0|0|0|0|11      0.1|1.0
4        0|0|0|0|12      0.1|1.0
...             ...          ...
832336  9|9|9|16|18  0.1|2.82395
832337   9|9|9|9|11  0.1|2.60119
832338   9|9|9|9|15  0.1|2.66103
832339   9|9|9|9|16  0.1|2.67218
832340   9|9|9|9|17  0.1|2.68289

[832341 rows x 2 columns]