In [4]:
# get the code
import sys
import os
sys.path.append('../code')

# set the paths
home = '/Users/martinscience'
#  home = '/Users/mahtin'


somvar_path = os.path.join(home, "Dropbox/Icke/Work/somVar")
testdata = os.path.join(somvar_path, "testdata")
ebdata = os.path.join(somvar_path, "tooldata/EBdata")
pon_path = os.path.join(testdata, "PON")

static = os.path.join(home, "Dropbox/Icke/Work/static")

## create EBmatrix from different input
+ filterVar.mawk is the input fork

In [5]:
from ebraw import tumor2matrix

EBconfig = {
    "temp_dir": os.path.join(ebdata, "temp"),
    "pon_path": pon_path,
    "mawk_path": "../shell",
    "genome_split": os.path.join(static, "genome/gatk/hg38/split"),
    "MAPQ": 20,
    "Q": 25,
    "fit_pen": 0.5,
    "count_dict": {0:"alt+", 1:"alt-", 2:"depth+", 3:"depth-"},
    "use_cache": True
}


bam_file = f"{testdata}/bam/003_A.chr7.bam"
pileup_file = os.path.join(ebdata, "pileup/002_A-B.pileup.gz")
mut_file = os.path.join(ebdata, "table/002_A-B.csv")
pon_list = "PON_chr7.txt"
chrom = "chr7"

# df = bam2matrix(mut_file, pileup=pileup_file, chrom=chrom, pon_list=pon_list, EBconfig=EBconfig)
df = tumor2matrix(mut_file, bam=bam_file, chrom=chrom, pon_list=pon_list, EBconfig=EBconfig)
df

../code/ebutils.py:33: FutureWarning: The default value of regex will change from True to False in a future version.
  pon_df["basename"]

17:05:44 : 03_B.chr7.bam from PON list matches /Users/martinscience/Dropbox/Icke/Work/somVar/testdata/bam/003_A.chr7.bam and is removed from pon_list. If not desired, change names
$ samtools mpileup -Q 25 -q 20 -l /Users/martinscience/Dropbox/Icke/Work/somVar/tooldata/EBdata/temp/002_A-B_chr7.bed -f /Users/martinscience/Dropbox/Icke/Work/static/genome/gatk/hg38/split/chr7.fa -r chr7 /Users/martinscience/Dropbox/Icke/Work/somVar/testdata/bam/003_A.chr7.bam | ../shell/cleanpileup.mawk | ../shell/pile2count.mawk | ../shell/tumor2matrix.mawk /Users/martinscience/Dropbox/Icke/Work/somVar/tooldata/EBdata/table/002_A-B.csv chr7 -P /Users/martinscience/Dropbox/Icke/Work/somVar/testdata/PON/matrix/chr7.pon -x 3

,Chr,Start,End,Ref,Alt,Tumor,PONpos,PONeg
0,chr7,35326,35326,C,T,0-13=0-13,0|1|0|0=4|1|31|0,0|5|0|3=2|5|0|3
1,chr7,35442,35442,-,TGC,2-0=2-2,6|0|1|0=6|0|17|0,4|1|1|0=5|4|29|2
2,chr7,248451,248451,G,A,2-4=100-239,1|1|1|0=69|55|86|65,0|0|0|0=102|116|135|75
3,chr7,248458,248458,T,C,0-3=76-235,1|1|1|0=49|45|66|49,0|0|0|0=114|118|139|79
4,chr7,248482,248482,-,A,0-3=27-220,0|0|0|0=23|23|25|22,0|0|1|0=95|105|130|68
...,...,...,...,...,...,...,...,...
7094,chr7,159142337,159142338,T,-,7-0=91-4,1|2|1|1=52|73|71|83,0|0|0|0=4|7|1|2
7095,chr7,159144277,159144277,C,A,1-1=183-25,0|0|0|0=166|275|218|113,0|0|0|0=27|29|27|17
7096,chr7,159144683,159144683,C,T,69-54=83-90,0|65|0|0=100|137|120|85,0|69|0|0=77|140|138|43
7097,chr7,159144893,159144893,T,C,2-8=7-44,0|2|5|6=7|7|5|8,0|38|54|12=30|61|54|28
7098,chr7,159144902,159144902,-,C,2-36=5-45,3|4|1|3=3|5|2|5,32|60|45|14=35|63|51|19

## matrix to AB

In [6]:
df

,Chr,Start,End,Ref,Alt,Tumor,PONpos,PONeg
0,chr7,35326,35326,C,T,0-13=0-13,0|1|0|0=4|1|31|0,0|5|0|3=2|5|0|3
1,chr7,35442,35442,-,TGC,2-0=2-2,6|0|1|0=6|0|17|0,4|1|1|0=5|4|29|2
2,chr7,248451,248451,G,A,2-4=100-239,1|1|1|0=69|55|86|65,0|0|0|0=102|116|135|75
3,chr7,248458,248458,T,C,0-3=76-235,1|1|1|0=49|45|66|49,0|0|0|0=114|118|139|79
4,chr7,248482,248482,-,A,0-3=27-220,0|0|0|0=23|23|25|22,0|0|1|0=95|105|130|68
...,...,...,...,...,...,...,...,...
7094,chr7,159142337,159142338,T,-,7-0=91-4,1|2|1|1=52|73|71|83,0|0|0|0=4|7|1|2
7095,chr7,159144277,159144277,C,A,1-1=183-25,0|0|0|0=166|275|218|113,0|0|0|0=27|29|27|17
7096,chr7,159144683,159144683,C,T,69-54=83-90,0|65|0|0=100|137|120|85,0|69|0|0=77|140|138|43
7097,chr7,159144893,159144893,T,C,2-8=7-44,0|2|5|6=7|7|5|8,0|38|54|12=30|61|54|28
7098,chr7,159144902,159144902,-,C,2-36=5-45,3|4|1|3=3|5|2|5,32|60|45|14=35|63|51|19

### get_count_df for matrix2EB

In [43]:
pon_string = "6|0|1|0=6|0|17|0"

In [33]:
from ebcore import minimize

def 
arr = 
arr

[['6', '0', '17', '0'], ['6', '0', '1', '0']]

In [44]:
np.transpose([p.split("|") for p in pon_string.split("=")][::-1]).astype(int)

array([[ 6,  6],
       [ 0,  0],
       [17,  1],
       [ 0,  0]])

## new style

In [ ]:
from scipy.optimize import fmin_l_bfgs_b as minimize_func

KS_matrix = np.array([[1, 0, 1, 1, 0, 1, 0, 0, 0], [
                     0, 1, -1, 0, 1, -1, 0, 0, 0]])
gamma_reduce = np.array([1, -1, -1, -1, 1, 1, 1, -1, -1])


def bb_loglikelihood(params, count_df):
    [a, b] = params
    ab_matrix = np.array([1, 1, 1, a + b, a, b, a + b, a, b])
    # convert df into matrix for np.array operations that change dims
    count_matrix = count_df.values
    # perform matrix multiplication to get inputs to log-gamma
    input_matrix = np.matmul(count_matrix, KS_matrix) + ab_matrix
    # get corresponding log-gamma values and reduce over pon-values
    # make sure, count_df is 2d to safe the check
    # if is_1d:  # check whether gammatrix is 2-dim - otherwise sum aggregation over axis 0 is faulty
    #     gamma_matrix = gammaln(input_matrix)
    # else:
    gamma_matrix = np.sum(gammaln(input_matrix), axis=0)
    # add or subtract using gamma_reduce matrix and sum to loglikelihood (scalar)
    log_likelihood = np.sum(gamma_matrix * gamma_reduce)
    return log_likelihood


def bb_loglikelihood_fitting(params, count_df, penalty):
    '''
    Fitting params [alpha, beta] to maximize loglikelihood
    '''

    # Here, we apply the penalty term of alpha and beta (default 0.5 is slightly arbitray...)
    result = penalty * \
        math.log(sum(params)) - bb_loglikelihood(params,
                                                 count_df)  # matrix is dim2
    return result


def minimize(strand_count_df, pen):
    '''
    minimize the bb_loglikelihood to obtain AB params
    '''
    ab_params = minimize_func(
        bb_loglikelihood_fitting, [20, 20],
        args=(strand_count_df, pen), approx_grad=True,
        bounds=[(0.1, 10000000), (1, 10000000)]
    )[0]
    return [round(param, 5) for param in ab_params]


def fit_bb(PON_string, pen):
    '''
    Obtaining maximum likelihood estimator of beta-binomial distribution
    count_df is the array of depth-mismatch (trials, success) pairs over the PoN list for either strand
    during minimization of fitting function (max for loglikelihood) penalty term is applied to constrain alpha and beta
        Ref for L-BFGS-B algorithm:
        A Limited Memory Algorithm for Bound Constrained Optimization
        R. H. Byrd, P. Lu and J. Nocedal. , (1995),
        SIAM Journal on Scientific and Statistical Computing, 16, 5, pp. 1190-1208.
    '''

    # get the matrix from the PON_string
    
    np.transpose([p.split("|") for p in PON_string.split("=")][::-1]).astype(int)
    # minimize loglikelihood using L-BFGS-B algorithm
    
    
    
    
    AB = minimize(count_pos, pen)
    return f"{AB[0]}|{AB[1]}"

### old style

In [38]:
from ebutils import get_count_df

pon_string = "6|0|1|0-4|1|1|0=6|0|17|0-5|4|29|2"
count_df = get_count_df(pon_string)
count_df

   alt+  alt-  depth+  depth-
0     6     4       6       5
1     0     1       0       4
2     1     1      17      29
3     0     0       0       2

In [39]:
count_pos = count_df.loc[:, ['depth+', 'alt+']]
count_pos

   depth+  alt+
0       6     6
1       0     0
2      17     1
3       0     0

In [40]:
count_pos.values

array([[ 6,  6],
       [ 0,  0],
       [17,  1],
       [ 0,  0]])

In [41]:
from ebcore import fit_bb
fit_bb(count_df, 0.5)

'0.62288|1.0-0.43362|1.0'

In [7]:
from ebutils import get_count_df
row = df.iloc[2,:]
row
cdf = get_count_df(row['PON:ALT=Depth'], EBconfig["count_dict"])
cdf

KeyError: 'PON:ALT=Depth'

In [ ]:
from ebconvert import matrix2AB
from ebcore import fit_bb
bb_params = fit_bb(cdf, 0.5)
bb_params

In [ ]:
matrix2AB(row, config=EBconfig)

### expand matrix2AB to df

In [ ]:
df['ABparams'] = df.apply(matrix2AB, config=EBconfig, axis=1)
df[:3]

## AB to EB

In [ ]:
# make a row with the same values as in EBold for comparison
row_dict = {
    "Chr": ["chr7"],
    "Start": 680651,
    "Tumor:Alt=Depth": "0-5=12-42",
    "ABparams": "0.20509|23.07746-0.22661|2.47235"
}

test_row = pd.DataFrame().from_dict(row_dict).iloc[0]
test_row
from ebconvert import AB2EBscore
AB2EBscore(test_row, config=EBconfig)

In [ ]:
df['EBscore'] = df.apply(AB2EBscore, config=EBconfig, axis=1)
df