### check the pon list
+ if bam_file is contained in pon_list, return reduced pon_list and

In [1]:
# set the paths
home = '/Users/mahtin'
home = '/Users/martinscience'
testdata = f"{home}/Dropbox/Icke/Work/somVar/testdata"
ebdata = f"{testdata}/EBdata"
pon_path = f"{testdata}/testpon"
static = f"{home}/Dropbox/Icke/Work/static"

In [2]:
bam_file = '002_A.bam'
pon_list = os.path.join(pon_path, "Pon_chr7short.txt")

### get the bam base

In [75]:
def get_pon(bam_file, pon_list, pon_path='', prepend_bam=False):
    '''
    checks whether bam_file is contained in the pon_list
    returns reduced pon_list and the matching 1-based position in the pon_list
    '''
    # get the stripped sample name
    sample_base = bam_file.replace('.bam', '').split('_')[0].lstrip("0")
    # pon path is not "", add a backslash
    if pon_path:
        pon_path += "/"
    # load the pon_list into df
    pon_df = pd.read_csv(pon_list, header=None, names=['bam'])
    # extract the stripped sample into sample column
    pon_df['basename'] = pon_df['bam'].str.split('/', expand=True)[1]
    pon_df['sample'] = pon_df['basename'].str.replace(
        '.bam', "").str.split("_", expand=True)[0].str.lstrip('0')
    pon_df['bam'] = f"{pon_path}" + pon_df['bam']
    # add bam to beginning if prepend_bam == True
    if prepend_bam:
        pon_df = pd.concat(
            [pd.DataFrame([{'bam': bam_file}]), pon_df]).reset_index()

    if pon_df.query('sample == @sample_base').empty:
        return pon_df.loc[:, ['bam']], 0, ''
    # bam is in pon
    reduced_pon_df = pon_df.query('sample != @sample_base').loc[:, ['bam']]
    pos = pon_df.query('sample == @sample_base').index[0] + 1 - int(prepend_bam)
    removed_pon = pon_df.query('sample == @sample_base').iloc[0, 0]
    return reduced_pon_df, pos, removed_pon

In [76]:
pon_df, pos, removed_pon = get_pon(bam_file, pon_list, pon_path=pon_path, prepend_bam=False)

In [78]:
pon_df

                                                 bam
0  /Users/martinscience/Dropbox/Icke/Work/somVar/...
2  /Users/martinscience/Dropbox/Icke/Work/somVar/...
3  /Users/martinscience/Dropbox/Icke/Work/somVar/...
4  /Users/martinscience/Dropbox/Icke/Work/somVar/...

### return reduced pon_file

                  bam
0  bam/001_B.chr7.bam
2  bam/003_B.chr7.bam
3  bam/004_B.chr7.bam
4  bam/005_B.chr7.bam

In [32]:
pon_df.query('sample == "sd"').empty

True